@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/**********Fonts**********/
#course_home_content h1, h2 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 2.5em;
}
#course_home_content h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
#course_home_content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}

#wiki_page_show h1, h2 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 2.5em;
}
#wiki_page_show h3, h4, h5 {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}
#wiki_page_show p {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 0.9em;
}
/**********Canvas Page Wrapper**********/
#wrapper .ic-Layout-wrapper {
    min-width: 100% !important;
}

.ic-app-main-content__secondary {
    background-color: #B2B2B2;
} /*right side bar*/

/********Front Page Banner********/
#mm-wrapper_frontpage {
    background-image: url(https://piedmont1-my.sharepoint.com/personal/melissaevans_piedmont_edu/Documents/images/prism.png);
    background-repeat: repeat;
    width: 100%;
    min-height: 13.45rem ;
    color: #fff;
}
.gradient-cont {
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(255,255,255,0) 45%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(255,255,255,0) 45%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 20%, rgba(255,255,255,0) 45%);
}

.mm-header-image {
    overflow: hidden;

}

.mm-header-title {
    margin-left: 30%;
    text-align: right;
    vertical-align: top;

}

.mm-header-logo {
    margin-left: 30%;
    text-align: right;
    vertical-align: bottom;
}