@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/**********Fonts**********/
#course_home_content h1, h2 {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: clamp(1.5em, 2vw, 5em);
}
#course_home_content h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
#course_home_content p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-size: 1.25em;
}

#wiki_page_show h1, h2 {
    font-family: 'Vollkorn', serif;
    font-weight: 400;
    font-size: clamp(1.5em, 2vw, 5em);
}
#wiki_page_show h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
}
#wiki_page_show p {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    font-size: 1.25em;
}
/**********Canvas Page**********/
body:not(.full-width):not(.outcomes):not(.body--login-confirmation) .ic-Layout-wrapper {
    min-width: 93%;
}

.header-bar {
    border-bottom: none;
}

.ic-app-nav-toggle-and-crumbs{
    border-bottom: none;
}

.with-right-side #right-side-wrapper {
    background-color: rgba(0, 0, 0, 0.03);
}

.pages .header-bar-outer-container {
    max-height: 2rem;
}

.pages.show.home .course-title {
    display: none;
}

.pages.show.home .show-content {
    padding-top: 0px;
}

.ic-Layout-contentMain {
    padding: 15px;
    padding-top: 0px;
}

.page-title {
    display: none;
}


/********Front Page Banner********/

.mm-readonly {
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

.header {
    background-image: url("https://piedmont1-my.sharepoint.com/personal/melissaevans_piedmont_edu/Documents/images/mm-oat-lion.png");
    background-repeat: no-repeat;
    background-size: contain;
    Background-color: #000;
  }
 .mm-title {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    color: #fff;
    text-align: right;
    padding: 1rem  1rem 1rem 47%;
    margin: 0;
    min-height:13.45rem;
  }
h1 .mm-prefix-color{
  color: #415364;
}
.mm-course-num {
  font-family: 'Lato'!important;
   font-size: clamp(3em, 6vw, 10em) !important;
   font-weight: 900 !important;
}
.mm-course-title{
  font-family: 'Lato'!important;
  font-weight: 300 !important;
  margin-top: 0 !important;
     font-size: clamp(2em, 1vw, 3em) !important;

}
  .navigation {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    background: #000;
  }

  .navigation a {
    text-decoration: none !important;
    display: block;
    padding: 1em;
    color: white;
  }

  .navigation a:hover {
    background: #415364;
  }
  /**********logo**********/
  .mm-logo {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    background: #000;
  }
  .logo {
    width: 175px;
    padding: 1rem;
  }

  
  /**********Module Cards**********/
  .mm-modules-cont {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: stretch;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .mm-module-item {
    width:18rem;
    background-image: url("https://piedmont1-my.sharepoint.com/personal/melissaevans_piedmont_edu/Documents/images/dark-triangles.png");
    color: white;
    text-align: center;
    border: 10px solid white;
    box-shadow: 1px 1px 2px #aaaaaa;
    margin: 1rem;
  }
  .mm-module-item a{
    text-decoration: none;
    color: #fff;
  }
  .mm-mod-number{
    text-align:right;
    padding: 1rem 2rem;
  }
  .mm-mod-title {
     height: 6rem;
    background-color: #144734;
    padding:1rem;
  }

  /**********@media**********/

  @media all and (max-width: 1200px) {
    .navigation {
      justify-content: space-around;
    }
    .header {
      min-height: 13.45;
    }
    .header .mm-title {
      text-align: right;
    }
    .mm-logo, .mm-module-item {
      justify-content: space-around;
    }
  }

  @media all and (max-width: 1155px) {
    .navigation {
      flex-flow: row wrap;
      padding: 0;
    }
    .navigation a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation li:last-of-type a {
      border-bottom: none;
    }
    .header {
     flex: 2 0px;
     background-image: none;
    }
    .mm-title {
      justify-content: center;
      text-align: center !important;
      padding: 1rem;
    }
     .navigation-logo, .mm-module-item {
      flex-flow: column wrap;
      padding: 0 1rem;
    }
    .navigation-logo a {
      text-align: center;
      padding: 10px;
      border-top: 1px solid rgba(255, 255, 255,0.3);
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }
    .navigation-logo li:last-of-type a {
      border-bottom: none;
    }
  }
